{% extends 'mybog/mylayout.html' %}
{% load static %}

{% block content %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center servimg">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Services</h2>
        <ol>
          <li><a href="{% url 'mybog:index' %}">Home</a></li>
          <li>Services</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

   <!-- ======= Services Section ======= -->
   <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Services</h2>
        <p>Voluptatem quibusdam ut ullam perferendis repellat non ut consequuntur est eveniet deleniti fignissimos eos quam</p>
      </div>

      <div class="row gy-4">

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item  position-relative">
            <div class="icon">
              <i class="bi bi-book"></i>
            </div>
            <h3>University Admissions</h3>
            <p>HK abroad education agency is qualified and well informed in the complete university admission process and can guarantee qualified applicants admission to the best universities. In order to provide exceptional services to students, we provide full-fledged information about the different countries, available courses and universities so that they can have good number of options to choose from. Taking up higher education from abroad is a not an impulsive decision but a preplanned dream of student and his family. We consider each aspect of student background before providing options to them. You are always advised to undertake English Proficiency 
              test such as IELTS, TOEFL, etc. to make your admission and visa 100% successful.</p>
            <a href="{% url 'mybog:service' %}" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-person-vcard"></i>
            </div>
            <h3>Admission Formalities</h3>
            <p>Being your career consultant, we are responsible to undergo all the admission and visa formalities. To make your study abroad journey simpler, we are having specific departments that can solve your queries
               efficiently and provide end-to-end guidance on documents and other requirements.
               We update our students with every step taken on their profile.</p>
            <a href="{% url 'mybog:service' %}" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-house"></i>
            </div>
            <h3>Visa Services</h3>
            <p>Visa Processing and Visa file preparation keeps high importance in the entire process of studying abroad as it is impossible to fly without visa. At HK education agency, we have segregated department for Visa that provide complete visa guidance to students. Every country has different rules and regulations, which keep changing time to time and therefore students, should be prepared accordingly. We have experts who hold enormous experience of
               embassies and their regulations that increase the chance of visa success.For Visa, students need to prepare a file with required documents, which has a defined order. We assist our students to arrange their file in a requisite order and keep an accurate record of compulsory funds. After this, all the files are thoroughly checked by our experts in order to avoid any kind of mistakes and chances of visa refusal.</p>
            <a href="{% url 'mybog:service' %}" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-airplane"></i>
            </div>
            <h3>Accommodation</h3>
            <p>Most of the students are very unaware about the living expenses and accommodation part. So, we help our students to get the accommodation done at the affordable prices and with all required facilities. Some universities provide on- campus accommodation, which can be pre-, booked at the time of admission. In another case,
               we can provide adequate information and contacts to arrange your own accommodation.</p>
            <a href="{% url 'mybog:service' %}" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-search-heart"></i>
            </div>
            <h3>Travel Arrangements</h3>
            <p>Travelling covers a huge cost of studying abroad so it is important not to ignore this part and pre booked your air tickets. As we provide end to end services, we can also arrange flight tickets for the students at feasible costs. Our travel agents endow with the complete travel information and ensure to make your travel comfortable. Apart from this, we also provide pick-up facility from airport to the university so that you can reach safe. You are required to inform us 
              in advance to avail this service as last moment requests cannot be managed.</p>
            <a href="{% url 'mybog:service' %}" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-people"></i>
            </div>
            <h3>Pre Departure Briefing</h3>
            <p>At HK education agency, we believe that students must be well-aware about the destination country’s culture and fundamental laws. Therefore, we conduct a pre departure briefing session for our students to dispense important information about the common and uncommon issues. Our experts interact with students and try to solve their real time queries and curiosity about the country, university and environment. It is quite challenging to adapt the living environment of new place therefore,
               we always help our student to make their education journey interesting and successful.</p>
            <a href="{% url 'mybog:service' %}" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-people"></i>
            </div>
            <h3>Foreign Exchange</h3>
            <p>Students need huge amount of foreign currency when they are visiting abroad for study purpose. We are associated with reliable forex vendors that can provide required currency as well as forex card to meet day to day expenses. We ensure that students
               get foreign exchange at the best possible rates. It will help students to manage their expenses easily.</p>
            <a href="{% url 'mybog:service' %}" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->


        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-people"></i>
            </div>
            <h3>Alumni Support</h3>
            <p>We have created a network of alumni, which continuously shares their living as well as study experience with us. It makes easy for us to guide our students with the honest experiences of our alumni. When students arrive, they can take help from alumni team and solve their general queries such as food, transportation, study material etc. We provide
               contact details of our alumni team to every student before departure.</p>
            <a href="{% url 'mybog:service' %}" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-people"></i>
            </div>
            <h3>On- Arrival Formalities</h3>
            <p>When students arrives the destination country and university, they not need to be worry as all the formalities and
               documents are already arranged by us. Our partner universities will help students to get all the official formalities to be done.</p>
            <a href="{% url 'mybog:service' %}" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-people"></i>
            </div>
            <h3>Post- Arrival Services</h3>
            <p>We not only believe in sending students to study abroad but provide continuous support during the entire study period. If students face any issues while 
              studying, they can easily contact us to get the right solution.</p>
            <a href="{% url 'mybog:service' %}" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->

      </div>

    </div>
  </section><!-- End Services Section -->


    <!-- ======= Alt Services Section ======= -->
    <section id="alt-services" class="alt-services">
      <div class="container" data-aos="fade-up">

        <div class="row justify-content-around gy-4">
          <div class="col-lg-7 img-bg cala" data-aos="zoom-in" data-aos-delay="100"></div>

          <div class="col-lg-5 d-flex flex-column justify-content-center">
            <h3>Why Us?</h3>
            <p>Esse voluptas cumque vel exercitationem. Reiciendis est hic accusamus. </p>

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-patch-check flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Nemo Enim</a></h4>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-brightness-high flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Dine Pad</a></h4>
                <p>Explicabo est voluptatum asperiores consequatur magnam. Et veritatis odit. Sunt aut deserunt minus aut eligendi omnis</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-brightness-high flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Tride clov</a></h4>
                <p>Est voluptatem labore deleniti quis a delectus et. Saepe dolorem libero sit non aspernatur odit amet. Et eligendi</p>
              </div>
            </div><!-- End Icon Box -->

          </div>
        </div>

      </div>
    </section><!-- End Alt Services Section -->


    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Testimonials</h2>
          <p>Quam sed id excepturi ccusantium dolorem ut quis dolores nisi llum nostrum enim velit qui ut et autem uia reprehenderit sunt deleniti</p>
        </div>

        <div class="slides-2 swiper">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                  <h3>Saul Goodman</h3>
                  <h4>Ceo &amp; Founder</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                  <h3>Sara Wilsson</h3>
                  <h4>Designer</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                  <h3>Jena Karlis</h3>
                  <h4>Store Owner</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                  <h3>Matt Brandon</h3>
                  <h4>Freelancer</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                  <h3>John Larson</h3>
                  <h4>Entrepreneur</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->


{% endblock content %}